<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>勤怠情報変更｜LMS</title>
</head>
<body>

	<!-- 完了メッセージ -->
	<th:block th:if="${not #strings.isEmpty(message)}" id="message">
		<div class="alert alert-info alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span>[[${message}]]</span>
		</div>
	</th:block>

	<h2>勤怠管理</h2>

	<!-- エラーメッセージ -->
	<th:block th:if="${not #strings.isEmpty(error)}" id="error">
		<ul style="padding-left: 0; list-style: none;">
			<li><span th:text="'*' + '&nbsp' + ${error}" class="help-inline error"></span></li>
		</ul>
	</th:block>

	<th:block th:if="${session.loginUserDto.role == '0001'}">
		<div class="well well-lg p10 mb10">
			<div class="form-group">
				<small id="now"></small>
			</div>
			<div class="form-group">
				<form th:action="@{/attendance/detail}" method="post" class="form-inline">
					<input type="submit" value="出勤" name="punchIn" class="btn btn-default" />
					<input type="submit" value="退勤" name="punchOut" class="btn btn-default" />
				</form>
			</div>
			<p><a th:href="@{/attendance/update}">勤怠情報を直接編集する</a></p>
		</div>
	</th:block>

	<div class="row">
		<div class="bs-component col-sm-12">
			<table class="table table-hover dataTable no-footer">
				<thead class="db">
					<tr>
						<th class="w160">日付</th>
						<th class="w260">コース内容</th>
						<th class="w80">出勤</th>
						<th class="w80">退勤</th>
						<th class="w120">中抜け時間</th>
						<th class="w120">ステータス</th>
						<th class="w200">備考</th>
					</tr>
				</thead>

				<tbody class="db">
					<th:block th:each="attendanceManagementDto : ${attendanceManagementDtoList}" th:object="${attendanceManagementDto}">
						<tr>
							<td class="w160">[[*{#dates.format(trainingDate, 'yyyy年M月d日(E)')}]]</td>
							<td class="w260">[[*{sectionName}]]</td>
							<td class="w80">[[*{trainingStartTime}]]</td>
							<td class="w80">[[*{trainingEndTime}]]</td>
							<td class="w120">[[*{blankTimeValue}]]</td>
							<td class="w120">[[*{statusDispName}]]</td>
							<td class="w200">[[*{note}]]</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
		$(function() {
			$("#now").text('現在の時刻は　' + getClock() + '　です。');
			setInterval(function() {
				$("#now").text('現在の時刻は　' + getClock() + '　です。');
			}, 1000);
		});
		function getClock() {
			const today =  new Date();
			const hours = ('0' + today.getHours()).slice(-2);
			const minutes = ('0' + today.getMinutes()).slice(-2);
			return hours + ':' + minutes;
		}
	</script>
<!-- ★★★ ここからダイアログのコードを追加 ★★★ !-->
	<th:block th:if="${showPastMissingDialog}">
		
		<div class="modal fade" id="pastMissingModal" tabindex="-1" aria-hidden="true" data-backdrop="static">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header bg-light" style="border-bottom: 1px solid #dee2e6; border-top-left-radius: 8px; border-top-right-radius: 8px;">
                    <h5 class="modal-title text-warning d-flex align-items-center" style="font-weight: 600;">
                        <span style="margin-right: 8px;">⚠️</span>未入力の確認
                    </h5>
                </div>
					<div class="modal-body">
						<p>過去日の勤怠に未入力があります。<br/>【勤怠情報を直接編集する】から、入力を行ってください。</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 画面が開いた瞬間に自動でダイアログを起動するJavaScript--> 
		<script type="text/javascript">
			$(function() {
				// 画面に配置したモーダルを自動で表示する（Bootstrap 3/4のJQueryの書き方）
				$('#pastMissingModal').modal('show');
			});
		</script>
	</th:block>
<!--★★★ ここまで追加 ★★★ -->



</body>
</html>